[init]
	templatedir = ~/.dotfiles/.git-templates

[user]
	name = Alan Voiski
	email = alannunesv@gmail.com

[alias]

  # List aliases
  aliases = config --get-regexp alias 

  # Amend the currently staged files to the latest commit
  amend = commit --amend --reuse-message=HEAD 

  # Get current branch
  branch-current = "!f(){  \
    local branch=$(git rev-parse --abbrev-ref HEAD); \
    [ $branch = 'HEAD' ] && git rev-parse --short HEAD \
    || echo $branch; \
  }; f #"

  # Remove branches that have already been mergeith master
  # a.k.a. ‘delete merged’ 
  branch-delete-merged = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

  # Delete current branch and fetch master
  branch-delete="!f(){ \
    declare currentBranch=$(git branch-current); \
    echo Delete ${currentBranch}?[y]; \
    read option; \
    if [ ${option} = 'y' ]; then \
      git checkout master && \
      git fetch --all --prune && \
      git pull && \
      git branch -D ${currentBranch}; \
    fi; \
  }; f #"

  # Push to updstream
  branch-push="!git push --set-upstream origin $(git branch-current) #" 

  # Show verbose output
  branches = branch -a

  # Clone a repository including all submodules
  c = clone --recursive 

  # Commit all changes
  ca = !git add -A && git commit -av 

  # List contributors with number of commits
  contributors = shortlog --summary --numbered 

  # Credit an author on the latest commit
  credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f" 

  # Show the diff between the latest commit and the current state
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat" 

  # `git di $number` shows the diff between the state `$number` revisions ago and the current state
  di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d" 

  # Find branches containing commit
  find-branch = fb 
  fb = "!f() { git branch -a --contains $1; }; f"

  # Find commits by source code
  find-code = fc 
  fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"

  # Find commits by commit message
  find-message = fm 
  fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"

  # Find tags containing commit
  find-tag = ft 
  ft = "!f() { git describe --always --contains $1; }; f"

  # Open github diff for the current branch
  gitdiff="!open https://$(git repo-server)/$(git repo-user)/$(git repo-name)/compare/$(git branch-current) #" 

  # Open github for the current branch
  github = gh
  gh = "!open https://$(git repo-server)/$(git repo-user)/$(git repo-name)/tree/$(git branch-current) #" 

  # Switch to a branch, creating it if necessary
  go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f" 

  # Animated grapth of current grapth
  gource="!gource -s 0.5 --hide dirnames,filenames --follow-user \"$(git config user.name)\" #" 

  # View full history in colorized/fancy log
  history = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s" 

  # Install pre commit message template in existing local repo
  install-commit-template = !ln -s ~/.dotfiles/.git-templates/hooks/prepare-commit-msg .git/hooks/prepare-commit-msg 

  # View abbreviated SHA, description, and history graph of the latest 20 commits
  l = log --pretty=oneline -n 20 --graph --abbrev-commit 


  # Merge GitHub pull request on top of the current branch 
  # if a branch name is specified, on top of the specified branch 
  merge-pr = mpr
  mpr = "!f() { \
    declare currentBranch=\"$(git symbolic-ref --short HEAD)\"; \
    declare branch=\"${2:-$currentBranch}\"; \
    if [ $(printf \"%s\" \"$1\" | grep '^[0-9]\\+$' > /dev/null; printf $?) -eq 0 ]; then \
      git fetch origin refs/pull/$1/head:pr/$1 && \
      git checkout -B $branch && \
      git rebase $branch pr/$1 && \
      git checkout -B $branch && \
      git merge pr/$1 && \
      git branch -D pr/$1 && \
      git commit --amend -m \"$(git log -1 --pretty=%B)\n\nCloses #$1.\"; \
    fi \
  }; f"

  # Pull in remote changes for the current repository and all its submodules
  p = !"git pull; git submodule foreach git pull origin master" 

  # Open pr entry for the current branch
  pr="!f(){\
    if [[ $(git repo-server) =~ gitlab ]]; \
    then open https://$(git repo-server)/$(git repo-user)/$(git repo-name)/compare/master...$(git branch-current);\
    else open https://$(git repo-server)/$(git repo-user)/$(git repo-name)/compare/$(git branch-current)?expand=1;\
    fi \
  }; f" 

  # Interactive rebase with the given number of latest commits
  reb = "!r() { git rebase -i HEAD~$1; }; r" 

  # Show verbose output
  remotes = remote -v

  # Get repo name
  repo-name = "!x=$(git remote get-url origin) && x=$(basename $x) && echo ${x/.git/} #" 

  # Get repo server
  repo-server = "!x=$(git remote get-url origin) && \
  [[ $x = *@* ]] \
  && echo $x | cut -d'@' -f2 | cut -d':' -f1 \
  || echo $x | cut -d'/' -f3 | cut -d':' -f1"

  # Get repo user
  repo-user = "!declare remote_url=$(git remote get-url origin);remote_url=$(dirname ${remote_url##*:});basename ${remote_url} #" 

  # Remove the old tag with this name and tag the latest commit with it.
  retag = "!r() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1; }; r" 

  # View the current working tree status using the short format
  s = status -s 

  # I like sourcetree, more then 'git gui'
  source="!/Applications/SourceTree.app/Contents/Resources/stree ." 

  # Show verbose output
  tags = tag -l 

  # list objts by size https://stackoverflow.com/a/42544963/2985644
  size = !"git rev-list --objects --all | \
  git cat-file --batch-check='%(objecttype) %(objectname) %(objectsize) %(rest)' | \
  sed -n 's/^blob //p' | \
  sort --numeric-sort --key=2 | \
  cut -c 1-12,41- | \
  $(command -v gnumfmt || echo numfmt) --field=2 --to=iec-i --suffix=B --padding=7 --round=nearest"

[apply]

	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]

	# Make `git rebase` safer on macOS
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false

	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

	# Use sublime as editor
	editor = subl -n -w

[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

[commit]

	# https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = true

[diff]

	# Detect copies as well as renames
	renames = copies

[diff "bin"]

	# Use `hexdump` to diff binary files
	textconv = hexdump -v -C

[help]

	# Automatically correct and execute mistyped commands
	# autocorrect = 1

[merge]

	# Include summaries of merged commits in newly created merge commit messages
	log = true

[push]

	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

[pull]

  # puth your changes after the remote state - it keeps a shinning branch timeline, trust me.
	rebase = true

# URL shorthands

[url "git@github.com:"]

	insteadOf = "gh:"
	insteadOf = "https://github.com/"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"

[url "git://github.com/"]

	insteadOf = "github:"

[url "git://gist.github.com/"]

	insteadOf = "gist:"

# Sourcetree default configuration
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

## check more here https://github.com/voiski/dotfilesconfidential
[include]
	path = ~/.dotfiles/dotfilesconfidential/.gitconfig
